body {
  left: 0;
  margin: 0;
  position: relative;
  overflow: scroll;	
}

.menu {
  background: #BBBBBB repeat left top;
  left: -285px;
  height: 100%;
  position: fixed;
  width: 285px;
}

.jumbotron {
  background-image: url("../image/sunset-2160352_1920.jpg") repeat;
  background-size: cover;
  height: 100%; 
}

.jumbotron h2 {
  color: #636366;
  text-align: center;
  text-transform: lowercase;
}

.jumbotron h4 {
  color: #636366;
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.jumbotron_2 {
  background: #000; 
  background-size: cover;
  height: 100%;
}

.jumbotron_2 h2 {
  color: #636366;
  text-align: center;
  text-transform: lowercase;
}

.jumbotron_2 h4 {
  color: #636366;
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
}

.jumbotron_2 img {
  margin-left: 240px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.content {
  width: 850px;
  margin: 10px auto;
  background: #000;
  border: 1px solid #708090;
  border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  margin-top: 60px;		
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

p {
  color: #636366;
  font-size: 17px;
  text-decoration: none;
  text-transform: capitalize;
  margin-right: 20px;
  margin-left:20px;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-close img {
  width: 60px;
  height: 60px;
}

.icon-menu {
  color: #636366;
  cursor: pointer;
  padding-left: 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 23px;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.icon-menu:hover {
  color: #fff;
}
